GlobusAdvertServiceAdaptor/schema/IndexServiceProxyService/IndexServiceProxyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IndexServiceProxyService"
    targetNamespace="http://www.JavaGAT.org/namespaces/IndexServiceProxyService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.JavaGAT.org/namespaces/IndexServiceProxyService"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!--============================================================

                      T Y P E S
                      
  ============================================================-->
<types>
<xsd:schema targetNamespace="http://www.JavaGAT.org/namespaces/IndexServiceProxyService"
    xmlns:tns="http://www.JavaGAT.org/namespaces/IndexServiceProxyService"
    xmlns:gatns="http://www.JavaGAT.org/namespaces/GAT"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import
	    namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing"
	    schemaLocation="../ws/addressing/WS-Addressing.xsd" />

        <xsd:import
            namespace="http://www.JavaGAT.org/namespaces/GAT"
            schemaLocation="../AdvertServiceEntry/MetaData.xsd" />

        <xsd:complexType name="Entry">
          <xsd:sequence>
            <xsd:element name="Path" type="xsd:string"/>
            <xsd:element name="MetaData" type="gatns:MetaData"/>
            <xsd:element name="SerializedAdvertisable" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="Entries">
          <xsd:sequence>
            <xsd:element name="Entry" minOccurs="0" maxOccurs="unbounded" type="tns:Entry"/>
          </xsd:sequence>
        </xsd:complexType>

	<!-- REQUESTS AND RESPONSES -->
        <xsd:element name="get" type="xsd:string"/>
        <xsd:element name="getResponse" type="tns:Entry"/>

        <xsd:element name="put" type="tns:Entry"/>
        <xsd:element name="putResponse">
          <xsd:complexType/>
        </xsd:element>

        <xsd:element name="remove" type="xsd:string"/>
        <xsd:element name="removeResponse">
          <xsd:complexType/>
        </xsd:element>

        <xsd:element name="getEntries">
          <xsd:complexType/>
        </xsd:element>
        <xsd:element name="getEntriesResponse" type="tns:Entries"/>

        <xsd:element name="IndexServiceProxyServiceResourceProperties">
          <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

</xsd:schema>
</types>

<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->
<message name="GetRequest">
	<part name="request" element="tns:get"/>
</message>
<message name="GetResponse">
	<part name="response" element="tns:getResponse"/>
</message>

<message name="PutRequest">
	<part name="request" element="tns:put"/>
</message>
<message name="PutResponse">
	<part name="response" element="tns:putResponse"/>
</message>

<message name="RemoveRequest">
	<part name="request" element="tns:remove"/>
</message>
<message name="RemoveResponse">
	<part name="response" element="tns:removeResponse"/>
</message>

<message name="GetEntriesRequest">
	<part name="request" element="tns:getEntries"/>
</message>
<message name="GetEntriesResponse">
	<part name="response" element="tns:getEntriesResponse"/>
</message>

<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="IndexServiceProxyServicePortType" wsrp:ResourceProperties="tns:IndexServiceProxyServiceResourceProperties">

	<operation name="get">
		<input message="tns:GetRequest"/>
		<output message="tns:GetResponse"/>
	</operation>

	<operation name="put">
		<input message="tns:PutRequest"/>
		<output message="tns:PutResponse"/>
	</operation>

	<operation name="remove">
		<input message="tns:RemoveRequest"/>
		<output message="tns:RemoveResponse"/>
	</operation>

	<operation name="getEntries">
		<input message="tns:GetEntriesRequest"/>
		<output message="tns:GetEntriesResponse"/>
	</operation>

</portType>

</definitions>
