adaptors/trunk/src/grms_1.9.6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:grms" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:grms" xmlns:intf="urn:grms" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:grms" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:grms">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

   <simpleType name="EventType">
    <restriction base="xsd:string">
    <enumeration value="STATUS"/>
    <enumeration value="REQUEST"/>
    </restriction>
   </simpleType>
   <simpleType name="ProtocolType">
    <restriction base="xsd:string">
    <enumeration value="SOAP"/>
    <enumeration value="GASS"/>
    <enumeration value="SOCKET"/> <!-- not supported yet -->
    </restriction>
   </simpleType>
   <simpleType name="UrlType">
    <restriction base="xsd:string">
    <enumeration value="PHYSICAL"/>
    <enumeration value="LOGICAL"/>
    </restriction>
   </simpleType>
   <simpleType name="PathType">
    <restriction base="xsd:string">
    <enumeration value="FILE"/>
    <enumeration value="DIRECTORY"/>
    </restriction>
   </simpleType>
   <simpleType name="DescriptionType">
    <restriction base="xsd:string">
    <enumeration value="SHORT"/>
    <enumeration value="FULL"/>
    </restriction>
   </simpleType>
   <simpleType name="JobStatusType">
    <restriction base="xsd:string">
    <enumeration value="QUEUED"/>
    <enumeration value="PREPROCESSING"/>
    <enumeration value="PENDING"/>
    <enumeration value="RUNNING"/>
    <enumeration value="STOPPED"/>
    <enumeration value="POSTPROCESSING"/>
    <enumeration value="FINISHED"/>
    <enumeration value="SUSPENDED"/>
    <enumeration value="FAILED"/>
    <enumeration value="CANCELED"/>
    </restriction>
   </simpleType>
   
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="jobHistory">
    <sequence>
     <element name="hostName" nillable="true" type="xsd:string"/>
     <element name="startTime" type="xsd:dateTime"/>
     <element name="localSubmissionTime" type="xsd:dateTime"/>
     <element name="localStartTime" type="xsd:dateTime"/>
     <element name="localFinishTime" type="xsd:dateTime"/>
     <element name="jobDescription" nillable="true" type="xsd:string"/>
     <element name="applicationAccess" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="jobInformation">
    <sequence>
     <element name="project" nillable="true" type="xsd:string"/>
     <element name="userDn" nillable="true" type="xsd:string"/>
     <element name="jobStatus" nillable="true" type="impl:JobStatusType"/>
     <element name="submissionTime" type="xsd:dateTime"/>
     <element name="finishTime" type="xsd:dateTime"/>
     <element name="requestStatus" nillable="true" type="xsd:string"/>
     <element name="reqNumStatus" type="xsd:int"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
     <element name="lastHistory" nillable="true" type="impl:jobHistory"/>
     <element name="historyLength" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfjobHistory">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:jobHistory[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="NotificationRequest">
    <sequence>
     <element name="eventType" type="impl:EventType"/>
     <element name="protocol" type="impl:ProtocolType"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="append" type="xsd:boolean"/>
     <element name="format" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="GrmsResponse">
    <sequence>
     <element name="errorCode" type="xsd:int"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfGrmsResponse">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:GrmsResponse[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="FileDir">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="path" nillable="true" type="xsd:string"/>
     <element name="urltype" type="impl:UrlType"/>
     <element name="pathtype" type="impl:PathType"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFileDir">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:FileDir[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="submitJobRequest">

      <wsdl:part name="jobDefinition" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="submitJobResponse">

      <wsdl:part name="submitJobReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>



   <wsdl:message name="migrateJobRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="jobDefinition" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="migrateJobResponse">

      <wsdl:part name="migrateJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="migrateJobRequest1">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="migrateJobResponse1">

      <wsdl:part name="migrateJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="suspendJobRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="jobDefinition" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="suspendJobResponse">

      <wsdl:part name="suspendJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="suspendJobRequest1">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="suspendJobResponse1">

      <wsdl:part name="suspendJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="resumeJobRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="jobDefinition" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resumeJobResponse">

      <wsdl:part name="resumeJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="resumeJobRequest1">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resumeJobResponse1">

      <wsdl:part name="resumeJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>




   <wsdl:message name="getJobsListRequest">

   </wsdl:message>

   <wsdl:message name="getJobsListResponse">

      <wsdl:part name="getJobsListReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobsList" type="intf:ArrayOf_xsd_string"/>

   </wsdl:message>



   <wsdl:message name="getJobsListRequest1">

      <wsdl:part name="status" type="impl:JobStatusType"/>

   </wsdl:message>

   <wsdl:message name="getJobsListResponse1">

      <wsdl:part name="getJobsListReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobsList" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>


   <wsdl:message name="getProjectJobsListRequest">
   
      <wsdl:part name="project" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getProjectJobsListResponse">

      <wsdl:part name="getProjectJobsListReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobsList" type="intf:ArrayOf_xsd_string"/>

   </wsdl:message>



   <wsdl:message name="getProjectJobsListRequest1">
   
      <wsdl:part name="project" type="xsd:string"/>

      <wsdl:part name="status" type="impl:JobStatusType"/>

   </wsdl:message>

   <wsdl:message name="getProjectJobsListResponse1">

      <wsdl:part name="getProjectJobsListReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobsList" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>



   <wsdl:message name="registerApplicationAccessRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="service_location" type="xsd:string"/>

      <wsdl:part name="pid" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="registerApplicationAccessResponse">

      <wsdl:part name="registerApplicationAccessReturn" type="impl:GrmsResponse"/>

   </wsdl:message>


   <wsdl:message name="getApplicationAccessRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getApplicationAccessResponse">

      <wsdl:part name="getApplicationAccessReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="service_location" type="xsd:string"/>

      <wsdl:part name="pid" type="xsd:int"/>

   </wsdl:message>



   <wsdl:message name="unregisterApplicationAccessRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="unregisterApplicationAccessResponse">

      <wsdl:part name="unregisterApplicationAccessReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="findResourcesRequest">

      <wsdl:part name="resourceDefinition" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="findResourcesResponse">

      <wsdl:part name="findResourcesReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="resources" type="intf:ArrayOf_xsd_string"/>

   </wsdl:message>



   <wsdl:message name="getServiceDescriptionRequest">
   
      <wsdl:part name="type" type="impl:DescriptionType"/>

   </wsdl:message>

   <wsdl:message name="getServiceDescriptionResponse">

      <wsdl:part name="getServiceDescriptionReturn" type="xsd:string"/>

   </wsdl:message>


   <wsdl:message name="cancelJobRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="cancelJobResponse">

      <wsdl:part name="cancelJobReturn" type="impl:GrmsResponse"/>

   </wsdl:message>


   <wsdl:message name="getAllJobsListRequest">

      <wsdl:part name="status" type="impl:JobStatusType"/>

   </wsdl:message>

   <wsdl:message name="getAllJobsListResponse">

      <wsdl:part name="getAllJobsListReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobsList" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>



   <wsdl:message name="getJobHistoryRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getJobHistoryResponse">

      <wsdl:part name="getJobHistoryReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="history" type="impl:ArrayOfjobHistory"/>

   </wsdl:message>



   <wsdl:message name="testJobDescriptionRequest">

      <wsdl:part name="JobDescription" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="testJobDescriptionResponse">

      <wsdl:part name="testJobDescriptionReturn" type="impl:GrmsResponse"/>

   </wsdl:message>



   <wsdl:message name="getJobInfoRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getJobInfoResponse">

      <wsdl:part name="getJobInfoReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="jobInfo" type="impl:jobInformation"/>

   </wsdl:message>


   <wsdl:message name="getNotificationInformationRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="notificationId" type="xsd:string"/>

   </wsdl:message>
   
   <wsdl:message name="getNotificationInformationResponse">

      <wsdl:part name="getNotificationInformationReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="notificationRequest" type="impl:NotificationRequest"/>

   </wsdl:message>
 
  
   <wsdl:message name="getNotificationsListRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>
   
   <wsdl:message name="getNotificationsListResponse">

      <wsdl:part name="getNotificationsListReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="notificationIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>


   <wsdl:message name="unregisterNotificationRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="notificationId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="unregisterNotificationResponse">

      <wsdl:part name="unregisterNotificationReturn" type="impl:GrmsResponse"/>

   </wsdl:message>


   <wsdl:message name="registerNotificationRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="request" type="impl:NotificationRequest"/>

   </wsdl:message>
 
   <wsdl:message name="registerNotificationResponse">

      <wsdl:part name="registerNotificationReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="notificationId" type="xsd:string"/>

   </wsdl:message>


   <wsdl:message name="addOutputFileDirsRequest">
      
      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>

   <wsdl:message name="addOutputFileDirsResponse">
   
      <wsdl:part name="result" type="impl:ArrayOfGrmsResponse"/>

      <wsdl:part name="addOutputFileDirsReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="errors" type="xsd:int"/>

   </wsdl:message>



   <wsdl:message name="getOutputFileDirsRequest">
   
      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOutputFileDirsResponse">

      <wsdl:part name="getOutputFileDirsReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>



   <wsdl:message name="deleteOutputFileDirsRequest">
      
      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>

   <wsdl:message name="deleteOutputFileDirsResponse">
   
      <wsdl:part name="result" type="impl:ArrayOfGrmsResponse"/>

      <wsdl:part name="deleteOutputFileDirsReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="errors" type="xsd:int"/>

   </wsdl:message>


   <wsdl:message name="addCheckpointFileDirsRequest">
   
      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>

   <wsdl:message name="addCheckpointFileDirsResponse">
   
      <wsdl:part name="result" type="impl:ArrayOfGrmsResponse"/>

      <wsdl:part name="addCheckpointFileDirsReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="errors" type="xsd:int"/>

   </wsdl:message>



   <wsdl:message name="getCheckpointFileDirsRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCheckpointFileDirsResponse">

      <wsdl:part name="getCheckpointFileDirsReturn" type="impl:GrmsResponse"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>


   <wsdl:message name="deleteCheckpointFileDirsRequest">
   
      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="items" type="impl:ArrayOfFileDir"/>

   </wsdl:message>

   <wsdl:message name="deleteCheckpointFileDirsResponse">
   
      <wsdl:part name="result" type="impl:ArrayOfGrmsResponse"/>   

      <wsdl:part name="deleteCheckpointFileDirsReturn" type="impl:GrmsResponse"/>
      
      <wsdl:part name="errors" type="xsd:int"/>

   </wsdl:message>




   <wsdl:portType name="grms">

      <wsdl:operation name="submitJob" parameterOrder="jobDefinition jobId">

         <wsdl:documentation>
             Definition of WebService interface for job submitting

             GrmsResponse submitJob(String jobDefinition, String jobId)

             Input Parameters:
                - String jobDefinition - XML document describing job to be submitted
             Output Parameters:
                - String JobId -> unique Job ID
             Return Value:
                - GrmsResponse.errorCode
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:submitJobRequest" name="submitJobRequest"/>

         <wsdl:output message="intf:submitJobResponse" name="submitJobResponse"/>

      </wsdl:operation>

      <wsdl:operation name="migrateJob" parameterOrder="jobId jobDefinition">

         <wsdl:documentation>
             Definition of WebService interface for job migration

             GrmsResponse migrateJob(String jobId, String jobDefinition)

             Input Parameters:
                - String jobId - id of job to be migrated
                - String jobDefinition - XML document describing migration
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:migrateJobRequest" name="migrateJobRequest"/>

         <wsdl:output message="intf:migrateJobResponse" name="migrateJobResponse"/>

      </wsdl:operation>

      <wsdl:operation name="migrateJob" parameterOrder="jobId">

         <wsdl:documentation>
             Definition of WebService interface for job migration

             GrmsResponse migrateJob(String jobId)

             Input Parameters:
                - String jobId - id of job to be migrated
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:migrateJobRequest1" name="migrateJobRequest1"/>

         <wsdl:output message="impl:migrateJobResponse1" name="migrateJobResponse1"/>

      </wsdl:operation>


      <wsdl:operation name="suspendJob" parameterOrder="jobId jobDefinition">

         <wsdl:documentation>
             Definition of WebService interface for job suspending

             GrmsResponse suspendJob(String jobId, String jobDefinition)

             Input Parameters:
                - String jobId - id of job to be suspended
                - String jobDefinition - XML document describing migration
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:suspendJobRequest" name="suspendJobRequest"/>

         <wsdl:output message="intf:suspendJobResponse" name="suspendJobResponse"/>

      </wsdl:operation>

      <wsdl:operation name="suspendJob" parameterOrder="jobId">

         <wsdl:documentation>
             Definition of WebService interface for job suspending

             int suspendJob(String jobId)

             Input Parameters:
                - String jobId - id of job to be suspended
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:suspendJobRequest1" name="suspendJobRequest1"/>

         <wsdl:output message="impl:suspendJobResponse1" name="suspendJobResponse1"/>

      </wsdl:operation>


      <wsdl:operation name="resumeJob" parameterOrder="jobId jobDefinition">

         <wsdl:documentation>
             Definition of WebService interface for job resuming

             GrmsResponse resumeJob(String jobId, String jobDefinition)

             Input Parameters:
                - String jobId - id of job to be migrated
                - String jobDefinition - XML document describing resumed
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:resumeJobRequest" name="resumeJobRequest"/>

         <wsdl:output message="intf:resumeJobResponse" name="resumeJobResponse"/>

      </wsdl:operation>

      <wsdl:operation name="resumeJob" parameterOrder="jobId">

         <wsdl:documentation>
             Definition of WebService interface for job resumeing

             GrmsResponse resumeJob(String jobId)

             Input Parameters:
                - String jobId - id of job to be resumed
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:resumeJobRequest1" name="resumeJobRequest1"/>

         <wsdl:output message="impl:resumeJobResponse1" name="resumeJobResponse1"/>

      </wsdl:operation>


      <wsdl:operation name="getJobsList" parameterOrder="jobsList">

         <wsdl:documentation>
             Definition of WebService interface for obtaining list of jobs belonging to the user

             GrmsResponse getJobsList(String[] jobsList)

             Input Parameters:
                -
             Output Parameters:
                - String[] - array of job IDs belonging to the user
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:getJobsListRequest" name="getJobsListRequest"/>

         <wsdl:output message="intf:getJobsListResponse" name="getJobsListResponse"/>

      </wsdl:operation>


      <wsdl:operation name="getJobsList" parameterOrder="status jobsList">

         <wsdl:documentation>
             Definition of WebService interface for obtaining list of jobs in given state belonging to the user

             int getJobsList(enum JobStatusType status, String[] jobsList)

             Input Parameters:
                - enum JobStatusType status - status of the job
             Output Parameters:
                - String[] - array of job IDs belonging to the user
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getJobsListRequest1" name="getJobsListRequest1"/>

         <wsdl:output message="impl:getJobsListResponse1" name="getJobsListResponse1"/>

      </wsdl:operation>


      <wsdl:operation name="getProjectJobsList" parameterOrder="project jobsList">

         <wsdl:documentation>
             Definition of WebService interface for obtaining list of jobs belonging to the given project

             GrmsResponse getProjectJobsList(String project, String[] jobsList)

             Input Parameters:
                - String project - name of the project
             Output Parameters:
                - String[] - array of job IDs belonging to the user
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:getProjectJobsListRequest" name="getProjectJobsListRequest"/>

         <wsdl:output message="intf:getProjectJobsListResponse" name="getProjectJobsListResponse"/>

      </wsdl:operation>


      <wsdl:operation name="getProjectJobsList" parameterOrder="project status jobsList">

         <wsdl:documentation>
             Definition of WebService interface for obtaining list of jobs in given state belonging to the given project

             int getProjectJobsList(enum JobStatusType status, String[] jobsList)

             Input Parameters:
	        - String project - name of the project
                - enum JobStatusType status - status of the job
             Output Parameters:
                - String[] - array of job IDs belonging to the user
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getProjectJobsListRequest1" name="getProjectJobsListRequest1"/>

         <wsdl:output message="impl:getProjectJobsListResponse1" name="getProjectJobsListResponse1"/>

      </wsdl:operation>


      <wsdl:operation name="registerApplicationAccess" parameterOrder="jobId service_location pid">

         <wsdl:documentation>
             Definition of WebService interface for registering application access

             GrmsResponse registerApplicationAccess(String jobId, String service_location, int pid)

             Input Parameters:
                - String jobId - job identifier
                - String service_location - location of the application/service
		- int pod - ProcessID
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:registerApplicationAccessRequest" name="registerApplicationAccessRequest"/>

         <wsdl:output message="intf:registerApplicationAccessResponse" name="registerApplicationAccessResponse"/>

      </wsdl:operation>


      <wsdl:operation name="unregisterApplicationAccess" parameterOrder="jobId">
      
         <wsdl:documentation>
             Definition of WebService interface for unregistering application access

             GrmsResponse unregisterApplicationAccess( String jobId)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>
      
         <wsdl:input message="impl:unregisterApplicationAccessRequest" name="unregisterApplicationAccessRequest"/>

         <wsdl:output message="impl:unregisterApplicationAccessResponse" name="unregisterApplicationAccessResponse"/>

      </wsdl:operation>


      <wsdl:operation name="getApplicationAccess" parameterOrder="jobId service_location pid">
      
         <wsdl:documentation>
             Definition of WebService interface for getting application access

             GrmsResponse getApplicationAccess(String jobId, String service_location, int pid)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                - String service_location - location of the application/service
				- int pod - ProcessID
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>
      

         <wsdl:input message="impl:getApplicationAccessRequest" name="getApplicationAccessRequest"/>

         <wsdl:output message="impl:getApplicationAccessResponse" name="getApplicationAccessResponse"/>

      </wsdl:operation>


      <wsdl:operation name="testJobDescription" parameterOrder="JobDescription">

        <wsdl:documentation>
             Definition of WebService interface for testing the description of the job

             GrmsResponse testJobDescription(String jobId)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:

             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:testJobDescriptionRequest" name="testJobDescriptionRequest"/>

         <wsdl:output message="impl:testJobDescriptionResponse" name="testJobDescriptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getJobInfo" parameterOrder="jobId jobInfo">

         <wsdl:documentation>
             Definition of WebService interface for getting the information of job

             GrmsResponse getJobInfo(String jobId, jobInformation jobInfo)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                - jobInformation jobInfo - information about the job

		jobInformation
		{
 			String userDn;
   			enum JobStatusType jobStatus;
   			Calendar submitionTime;
   			Calendar finishTime;
   			String requestStatus;
   			int reqNumStatus;
   			String errorDescription;

   			jobHistory history;
		}

             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getJobInfoRequest" name="getJobInfoRequest"/>

         <wsdl:output message="impl:getJobInfoResponse" name="getJobInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getJobHistory" parameterOrder="jobId history">

         <wsdl:documentation>
             Definition of WebService interface for getting the history of job

             GrmsResponse getJobHistory(String jobId, jobHistory[] history)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                - jobHistory[] history - information about the history

		jobHistory
		{
   			String hostName;
   			Calendar startTime;
   			Calendar localStartTime;
   			Calendar localFinishTime;
   			String jobDescription;
   		}

             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getJobHistoryRequest" name="getJobHistoryRequest"/>

         <wsdl:output message="impl:getJobHistoryResponse" name="getJobHistoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findResources" parameterOrder="resourceDefinition resources">

         <wsdl:documentation>
             Definition of WebService interface for finding resources

             GrmsResponse findResources( String resourceDefinition, String[] resources)

             Input Parameters:
                - String resourceDefinition - XML document describing resource preferences
             Output Parameters:
                - String[] resources -> array of resources (resourceManagerContact) that match user preferences
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:findResourcesRequest" name="findResourcesRequest"/>

         <wsdl:output message="intf:findResourcesResponse" name="findResourcesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelJob" parameterOrder="jobId">

         <wsdl:documentation>
             Definition of WebService interface for canceling a job

             GrmsResponse cancelJob( String jobId)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                -
             Return Value:
                - GrmsResponse:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="intf:cancelJobRequest" name="cancelJobRequest"/>

         <wsdl:output message="intf:cancelJobResponse" name="cancelJobResponse"/>

      </wsdl:operation>


      <wsdl:operation name="getServiceDescription" parameterOrder="type">

         <wsdl:documentation>
             Definition of WebService interface for getting the description of the service

             String getServiceDescription( DescriptionType description)

             Input Parameters:
                - DescriptionType type - type of the description (enum SHORT, FULL)
             Output Parameters:
                -
             Return Value:
                - String - containing the description of the service
         </wsdl:documentation>

         <wsdl:input message="intf:getServiceDescriptionRequest" name="getServiceDescriptionRequest"/>

         <wsdl:output message="intf:getServiceDescriptionResponse" name="getServiceDescriptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllJobsList" parameterOrder="status jobsList">

         <wsdl:documentation>
             Definition of WebService interface for obtaining list of all jobs in given state

             GrmsResponse getJobsList(enum JobStatusType status, String[] jobsList)

             Input Parameters:
                - enum JobStatusType status 
             Output Parameters:
                - String[] - array of job IDs belonging to the user
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getAllJobsListRequest" name="getAllJobsListRequest"/>

         <wsdl:output message="impl:getAllJobsListResponse" name="getAllJobsListResponse"/>

      </wsdl:operation>


      <wsdl:operation name="registerNotification" parameterOrder="jobId request notificationId">
      
         <wsdl:documentation>
             Definition of WebService interface for registering listner for notifications

             GrmsResponse registerNotification(String jobId, NotificationRequest request, String notificationId)

             Input Parameters:
                - String jobId - job identifier
		- NotificationRequest request:
		    - enum eventType = {STATUS, REQUEST}
		    - enum protocol = {SOAP, GASS}
		    - String destination - url of service waiting for notifications
		    - bool append - in case of GASS notification defines in event should be append to the file or overwrite it
		    - String format - in case of GASS notification specifies format of message
             Output Parameters:
                - String notificationId - identifier of the notification
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>
      
         <wsdl:input message="impl:registerNotificationRequest" name="registerNotificationRequest"/>

         <wsdl:output message="impl:registerNotificationResponse" name="registerNotificationResponse"/>

      </wsdl:operation>


      <wsdl:operation name="getNotificationsList" parameterOrder="jobId notificationIds">
      
         <wsdl:documentation>
             Definition of WebService interface for list of registered notifications

             GrmsResponse getrNotificationsList(String jobId, String[] notificationIds)

             Input Parameters:
                - String jobId - job identifier
             Output Parameters:
                - String[] notificationIds - list of registered notifications
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getNotificationsListRequest" name="getNotificationsListRequest"/>

         <wsdl:output message="impl:getNotificationsListResponse" name="getNotificationsListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="unregisterNotification" parameterOrder="jobId notificationId">
      
         <wsdl:documentation>
             Definition of WebService interface for unregistering listner for notifications

             GrmsResponse unregisterNotification( String jobId String notificationId)

             Input Parameters:
	        - String notificationId - identifier of the notification
	     Output Parameters:
	        -
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>
      
         <wsdl:input message="impl:unregisterNotificationRequest" name="unregisterNotificationRequest"/>

         <wsdl:output message="impl:unregisterNotificationResponse" name="unregisterNotificationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNotificationInformation" parameterOrder="jobId notificationId notificationRequest">
      
        <wsdl:documentation>
             Definition of WebService interface for getting information about registered notification

             GrmsResponse getNotificationInformation(String jobId, String notificationId, NotificationRequest request)

             Input Parameters:
                - String jobId - job identifier
                - String notificationId - notification identifier
             Output Parameters:
		- NotificationRequest request:
		    - enum eventType = {STATUS, REQUEST}
		    - enum protocol = {SOAP, GASS}
		    - String destination - url of service waiting for notifications
		    - bool append - in case of GASS notification defines in event should be append to the file or overwrite it
		    - String format - in case of GASS notification specifies format of message
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getNotificationInformationRequest" name="getNotificationInformationRequest"/>

         <wsdl:output message="impl:getNotificationInformationResponse" name="getNotificationInformationResponse"/>

      </wsdl:operation>


      <wsdl:operation name="addOutputFileDirs" parameterOrder="jobId items result addOutputFileDirsReturn errors">

         <wsdl:documentation>
             Definition of WebService interface for registering new output files/directories

             GrmsResponse AddOutputFileDirs( String jobId, FileDir[] items, OUT int errors, OUT int[] result)

             Input Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - files/directories to be added
		  FileDir:
		  	- String name - name of the file
			- String path - path of the file
			- enum UrlType urlType = {PHISICAL, LOGICAL}
			- enum PathType pathType = {FILE, DIRECTORY}
	     Output Parameters:
	        - int errors - number of errors in 'result' array
	        - int[] result - results of operation (for each item)
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:addOutputFileDirsRequest" name="addOutputFileDirsRequest"/>

         <wsdl:output message="impl:addOutputFileDirsResponse" name="addOutputFileDirsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOutputFileDirs" parameterOrder="jobId items">

         <wsdl:documentation>
             Definition of WebService interface for getting registered output files/directories

             GrmsResponse getOutputFileDirs( String jobId, OUT FileDir[] items)

             Input Parameters:

	     Output Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - registered output files/directories
		For definition of FileDir see AddOutFileDir operation
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getOutputFileDirsRequest" name="getOutputFileDirsRequest"/>

         <wsdl:output message="impl:getOutputFileDirsResponse" name="getOutputFileDirsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteOutputFileDirs" parameterOrder="jobId items result deleteOutputFileDirsReturn errors">

         <wsdl:documentation>
             Definition of WebService interface for unregistering output files/directories

             GrmsResponse DeleteOutputFileDirs( String jobId, FileDir[] items, OUT int errors, OUT int[] result)
	     For definition of FileDir see AddOutFileDir operation.

             Input Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - files/directories to be added
	     Output Parameters:
	        - int errors - number of errors in 'result' array
	        - int[] result - results of operation (for each item)
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:deleteOutputFileDirsRequest" name="deleteOutputFileDirsRequest"/>

         <wsdl:output message="impl:deleteOutputFileDirsResponse" name="deleteOutputFileDirsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCheckpointFileDirs" parameterOrder="jobId items result addCheckpointFileDirsReturn errors">

         <wsdl:documentation>
             Definition of WebService interface for registering new checkpoint files/directories

             GrmsResponse AddCheckpointFileDirs( String jobId, FileDir[] items, OUT int errors, OUT int[] result)

             Input Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - files/directories to be added
		  For definition of FileDir see the AddOutFIleDirs operation
	     Output Parameters:
	        - int errors - number of errors in 'result' array
	        - int[] result - results of operation (for each item)
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:addCheckpointFileDirsRequest" name="addCheckpointFileDirsRequest"/>

         <wsdl:output message="impl:addCheckpointFileDirsResponse" name="addCheckpointFileDirsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCheckpointFileDirs" parameterOrder="jobId items">

         <wsdl:documentation>
             Definition of WebService interface for getting registered checkpoint files/directories

             GrmsResponse getCheckpointFileDirs( String jobId, OUT FileDir[] items)

             Input Parameters:

	     Output Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - registered output files/directories
		For definition of FileDir see AddOutFileDir operation
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:getCheckpointFileDirsRequest" name="getCheckpointFileDirsRequest"/>

         <wsdl:output message="impl:getCheckpointFileDirsResponse" name="getCheckpointFileDirsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteCheckpointFileDirs" parameterOrder="jobId items result deleteCheckpointFileDirsReturn errors">

         <wsdl:documentation>
             Definition of WebService interface for unregistering checkpoint files/directories

             GrmsResponse DeleteCheckpointFileDirs( String jobId, FileDir[] items, OUT int, OUT int[] result)
	     For definition of FileDir see AddOutFileDir operation.

             Input Parameters:
	        - String jobId - job identifier
	        - FileDir[] items - files/directories to be added
	     Output Parameters:
	        - int errors - number of errors in 'result' array
	        - int[] result - results of operation (for each item)
             Return Value:
                - GrmsResponse.errorCode:
                    0 - success
                   >0 - error code
         </wsdl:documentation>

         <wsdl:input message="impl:deleteCheckpointFileDirsRequest" name="deleteCheckpointFileDirsRequest"/>

         <wsdl:output message="impl:deleteCheckpointFileDirsResponse" name="deleteCheckpointFileDirsResponse"/>

      </wsdl:operation>

   </wsdl:portType>


   <wsdl:binding name="grmsSoapBinding" type="intf:grms">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findResources">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findResourcesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findResourcesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="submitJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="submitJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="migrateJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="migrateJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="migrateJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="migrateJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="migrateJobRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="migrateJobResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="suspendJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="suspendJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="suspendJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suspendJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="suspendJobRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="suspendJobResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="resumeJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resumeJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resumeJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resumeJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resumeJobRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resumeJobResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJobsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJobsListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJobsListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJobsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJobsListRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJobsListResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProjectJobsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProjectJobsListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getProjectJobsListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProjectJobsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProjectJobsListRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getProjectJobsListResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>


      <wsdl:operation name="registerApplicationAccess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerApplicationAccessRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerApplicationAccessResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="unregisterApplicationAccess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unregisterApplicationAccessRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="unregisterApplicationAccessResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getApplicationAccess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getApplicationAccessRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getApplicationAccessResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="cancelJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="cancelJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServiceDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllJobsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllJobsListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllJobsListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testJobDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testJobDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="testJobDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJobInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJobInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJobInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJobHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJobHistoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJobHistoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="registerNotification">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerNotificationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerNotificationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotificationsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationsListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNotificationsListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unregisterNotification">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unregisterNotificationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="unregisterNotificationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotificationInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationInformationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNotificationInformationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addOutputFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addOutputFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addOutputFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOutputFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOutputFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOutputFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteOutputFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteOutputFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteOutputFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCheckpointFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCheckpointFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCheckpointFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCheckpointFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCheckpointFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCheckpointFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCheckpointFileDirs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCheckpointFileDirsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteCheckpointFileDirsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grms" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="grmsService">

      <wsdl:port binding="intf:grmsSoapBinding" name="grms">

         <wsdlsoap:address location="httpg://rage1.man.poznan.pl:8543/axis/services/grms"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
