adaptors/tags/BeforeArchit/src/Replica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="csrdms"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="urn:csrdms"
 xmlns:tns="urn:csrdms"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:csrdms"
 xmlns:ns-adaptive="urn:Adaptive"
 xmlns:dns="urn:DATA_movement_services">

<types>
 <schema targetNamespace="urn:csrdms"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:csrdms"
  xmlns:ns-adaptive="urn:Adaptive"
  xmlns:dns="urn:DATA_movement_services"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string">
   <sequence>
    <element name="key" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-bool">
   <sequence>
    <element name="pathname" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="file" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-array">
   <sequence>
    <element name="item" type="ns:pair-of-string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-bool-array">
   <sequence>
    <element name="item" type="ns:pair-of-string-bool" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getHomeDirectoryResponse">
   <sequence>
    <element name="pathname" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getObjectsResponse">
   <sequence>
    <element name="paths" type="ns:string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getLocationsResponse">
   <sequence>
    <element name="locations" type="ns:string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getAttributesResponse">
   <sequence>
    <element name="attributes" type="ns:pair-of-string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="lsResponse">
   <sequence>
    <element name="directory-content" type="ns:string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="lsXResponse">
   <sequence>
    <element name="directory-content" type="ns:pair-of-string-bool-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="existsEntityResponse">
   <sequence>
    <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="ret" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="isFileResponse">
   <sequence>
    <element name="file" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="ret" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="isDirectoryResponse">
   <sequence>
    <element name="directory" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="ret" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getOwnerResponse">
   <sequence>
    <element name="owner" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="ret" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getServiceDescriptionResponse">
   <sequence>
    <element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="ret" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfdouble">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:double" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:double[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfstring">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:string[]"/>
    </restriction>
   </complexContent>
  </complexType>

 </schema>
 <schema targetNamespace="urn:Adaptive"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:csrdms"
  xmlns:ns-adaptive="urn:Adaptive"
  xmlns:dns="urn:DATA_movement_services"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-array">
   <sequence>
    <element name="item" type="ns:pair-of-string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-bool-array">
   <sequence>
    <element name="item" type="ns:pair-of-string-bool" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getReplicaTransferTimeResponse">
   <sequence>
    <element name="result" type="ns:ArrayOfdouble" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

 </schema>
 <schema targetNamespace="urn:DATA_movement_services"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:csrdms"
  xmlns:ns-adaptive="urn:Adaptive"
  xmlns:dns="urn:DATA_movement_services"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-array">
   <sequence>
    <element name="item" type="ns:pair-of-string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pair-of-string-bool-array">
   <sequence>
    <element name="item" type="ns:pair-of-string-bool" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>

 </schema>
</types>

<message name="getHomeDirectoryRequest">
 <part name="usersubject" type="xsd:string"/>
</message>

<message name="getHomeDirectoryResponse">
 <part name="pathname" type="xsd:string"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="createRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="filetype" type="xsd:string"/>
</message>

<message name="createResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="rmRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="rmResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="existsEntityRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="existsEntityResponse">
 <part name="result" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="isFileRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="isFileResponse">
 <part name="file" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="isDirectoryRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="isDirectoryResponse">
 <part name="directory" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="setOwnerRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="owner" type="xsd:string"/>
</message>

<message name="setOwnerResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="getOwnerRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="getOwnerResponse">
 <part name="owner" type="xsd:string"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="mkdirRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="mkdirResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="mkdirhierRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="mkdirhierResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="rmdirRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="rmdirResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="lsRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="lsResponse">
 <part name="directory-content" type="ns:string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="lsXRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="lsXResponse">
 <part name="directory-content" type="ns:pair-of-string-bool-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="addLocationRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="uri" type="xsd:string"/>
</message>

<message name="addLocationResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="removeLocationRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="uri" type="xsd:string"/>
</message>

<message name="removeLocationResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="getLocationsRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="getLocationsResponse">
 <part name="locations" type="ns:string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="addAttributeRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="attribute" type="xsd:string"/>
 <part name="value" type="xsd:string"/>
</message>

<message name="addAttributeResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="setAttributeRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="attribute" type="xsd:string"/>
 <part name="value" type="xsd:string"/>
</message>

<message name="setAttributeResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="removeAttributeRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="attribute" type="xsd:string"/>
</message>

<message name="removeAttributeResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="getAttributesRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="getAttributesResponse">
 <part name="attributes" type="ns:pair-of-string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="getObjectsRequest">
 <part name="query" type="xsd:string"/>
</message>

<message name="getObjectsResponse">
 <part name="paths" type="ns:string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="getServiceDescriptionRequest">
 <part name="in" type="xsd:string"/>
</message>

<message name="getServiceDescriptionResponse">
 <part name="description" type="xsd:string"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="replicateFileToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="replicateFileToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="fetchFileToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="fetchFileToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="replicateDirectoryToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="replicateDirectoryToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="fetchDirectoryToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="fetchDirectoryToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<portType name="csrdmsPortType">
 <operation name="getHomeDirectory">
  <documentation>Service definition of function ns__getHomeDirectory</documentation>
  <input message="tns:getHomeDirectoryRequest"/>
  <output message="tns:getHomeDirectoryResponse"/>
 </operation>
 <operation name="create">
  <documentation>Service definition of function ns__create</documentation>
  <input message="tns:createRequest"/>
  <output message="tns:createResponse"/>
 </operation>
 <operation name="rm">
  <documentation>Service definition of function ns__rm</documentation>
  <input message="tns:rmRequest"/>
  <output message="tns:rmResponse"/>
 </operation>
 <operation name="existsEntity">
  <documentation>Service definition of function ns__existsEntity</documentation>
  <input message="tns:existsEntityRequest"/>
  <output message="tns:existsEntityResponse"/>
 </operation>
 <operation name="isFile">
  <documentation>Service definition of function ns__isFile</documentation>
  <input message="tns:isFileRequest"/>
  <output message="tns:isFileResponse"/>
 </operation>
 <operation name="isDirectory">
  <documentation>Service definition of function ns__isDirectory</documentation>
  <input message="tns:isDirectoryRequest"/>
  <output message="tns:isDirectoryResponse"/>
 </operation>
 <operation name="setOwner">
  <documentation>Service definition of function ns__setOwner</documentation>
  <input message="tns:setOwnerRequest"/>
  <output message="tns:setOwnerResponse"/>
 </operation>
 <operation name="getOwner">
  <documentation>Service definition of function ns__getOwner</documentation>
  <input message="tns:getOwnerRequest"/>
  <output message="tns:getOwnerResponse"/>
 </operation>
 <operation name="mkdir">
  <documentation>Service definition of function ns__mkdir</documentation>
  <input message="tns:mkdirRequest"/>
  <output message="tns:mkdirResponse"/>
 </operation>
 <operation name="mkdirhier">
  <documentation>Service definition of function ns__mkdirhier</documentation>
  <input message="tns:mkdirhierRequest"/>
  <output message="tns:mkdirhierResponse"/>
 </operation>
 <operation name="rmdir">
  <documentation>Service definition of function ns__rmdir</documentation>
  <input message="tns:rmdirRequest"/>
  <output message="tns:rmdirResponse"/>
 </operation>
 <operation name="ls">
  <documentation>Service definition of function ns__ls</documentation>
  <input message="tns:lsRequest"/>
  <output message="tns:lsResponse"/>
 </operation>
 <operation name="lsX">
  <documentation>Service definition of function ns__lsX</documentation>
  <input message="tns:lsXRequest"/>
  <output message="tns:lsXResponse"/>
 </operation>
 <operation name="addLocation">
  <documentation>Service definition of function ns__addLocation</documentation>
  <input message="tns:addLocationRequest"/>
  <output message="tns:addLocationResponse"/>
 </operation>
 <operation name="removeLocation">
  <documentation>Service definition of function ns__removeLocation</documentation>
  <input message="tns:removeLocationRequest"/>
  <output message="tns:removeLocationResponse"/>
 </operation>
 <operation name="getLocations">
  <documentation>Service definition of function ns__getLocations</documentation>
  <input message="tns:getLocationsRequest"/>
  <output message="tns:getLocationsResponse"/>
 </operation>
 <operation name="addAttribute">
  <documentation>Service definition of function ns__addAttribute</documentation>
  <input message="tns:addAttributeRequest"/>
  <output message="tns:addAttributeResponse"/>
 </operation>
 <operation name="setAttribute">
  <documentation>Service definition of function ns__setAttribute</documentation>
  <input message="tns:setAttributeRequest"/>
  <output message="tns:setAttributeResponse"/>
 </operation>
 <operation name="removeAttribute">
  <documentation>Service definition of function ns__removeAttribute</documentation>
  <input message="tns:removeAttributeRequest"/>
  <output message="tns:removeAttributeResponse"/>
 </operation>
 <operation name="getAttributes">
  <documentation>Service definition of function ns__getAttributes</documentation>
  <input message="tns:getAttributesRequest"/>
  <output message="tns:getAttributesResponse"/>
 </operation>
 <operation name="getObjects">
  <documentation>Service definition of function ns__getObjects</documentation>
  <input message="tns:getObjectsRequest"/>
  <output message="tns:getObjectsResponse"/>
 </operation>
 <operation name="getServiceDescription">
  <documentation>Service definition of function ns__getServiceDescription</documentation>
  <input message="tns:getServiceDescriptionRequest"/>
  <output message="tns:getServiceDescriptionResponse"/>
 </operation>
 <operation name="replicateFileTo">
  <documentation>Service definition of function ns__replicateFileTo</documentation>
  <input message="tns:replicateFileToRequest"/>
  <output message="tns:replicateFileToResponse"/>
 </operation>
 <operation name="fetchFileTo">
  <documentation>Service definition of function ns__fetchFileTo</documentation>
  <input message="tns:fetchFileToRequest"/>
  <output message="tns:fetchFileToResponse"/>
 </operation>
 <operation name="replicateDirectoryTo">
  <documentation>Service definition of function ns__replicateDirectoryTo</documentation>
  <input message="tns:replicateDirectoryToRequest"/>
  <output message="tns:replicateDirectoryToResponse"/>
 </operation>
 <operation name="fetchDirectoryTo">
  <documentation>Service definition of function ns__fetchDirectoryTo</documentation>
  <input message="tns:fetchDirectoryToRequest"/>
  <output message="tns:fetchDirectoryToResponse"/>
 </operation>
</portType>

<binding name="csrdmsBinding" type="tns:csrdmsPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getHomeDirectory">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="create">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="rm">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="existsEntity">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="isFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="isDirectory">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setOwner">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getOwner">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="mkdir">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="mkdirhier">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="rmdir">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="ls">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="lsX">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="addLocation">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeLocation">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getLocations">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="addAttribute">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setAttribute">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeAttribute">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAttributes">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getObjects">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getServiceDescription">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="replicateFileTo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="fetchFileTo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="replicateDirectoryTo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="fetchDirectoryTo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:csrdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="csrdms">
 <documentation>gSOAP 2.3.8 generated service definition</documentation>
 <port name="csrdms" binding="tns:csrdmsBinding">
  <SOAP:address location="httpg://litchi.zib.de:6667/csrdms-service"/>
 </port>
</service>

</definitions>
