adaptors/tags/pre_brussels_demo/src/StorageBox.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <definitions name="StorageBox"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://www.storagebox.org/sbns"
  xmlns:tns="http://www.storagebox.org/sbns"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:sb="http://www.storagebox.org/sbns"
 >
  
    <types>
     <schema targetNamespace="http://www.storagebox.org/sbns"
      xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:sb="http://www.storagebox.org/sbns"
      xmlns="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="unqualified"
      attributeFormDefault="unqualified"
     >
  
      <complexType name="DatabaseAttributeSchema">
       <all>
        <element name="attribute_name" type="xsd:string" minOccurs="1" maxOccurs="1"/><element name="value_type" type="xsd:string" minOccurs="1" maxOccurs="1"/><element name="single_valued" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
       </all>
      </complexType>
        
      <complexType name="AttributeValue">
       <all>
        <element name="object_id" type="xsd:int" minOccurs="1" maxOccurs="1"/><element name="attribute_name" type="xsd:string" minOccurs="1" maxOccurs="1"/><element name="attribute_value" type="xsd:string" minOccurs="1" maxOccurs="1"/><element name="source_namespace" type="xsd:string" minOccurs="1" maxOccurs="1"/>
       </all>
      </complexType>
        
      <complexType name="AttributeSet">
       <sequence>
        <element name="item" type="sb:AttributeValue" minOccurs="0" maxOccurs="unbounded" />"
       </sequence>
      </complexType>  
           
      <complexType name="StringSet">
       <sequence>
        <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />"
       </sequence>
      </complexType>  
           
      <complexType name="DatabaseSchema">
       <sequence>
        <element name="item" type="sb:DatabaseAttributeSchema" minOccurs="0" maxOccurs="unbounded" />"
       </sequence>
      </complexType>  
           

  
     </schema>
    </types>
  
  
    <message name="addAttributeRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="global_oid" type="xsd:string"/>
      <part name="attribute_name" type="xsd:string"/>
      <part name="attribute_value" type="xsd:string"/>
    </message>
    <message name="addAttributeResponse">
    </message>
    <message name="setAttributeRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="global_oid" type="xsd:string"/>
      <part name="attribute_name" type="xsd:string"/>
      <part name="attribute_value" type="xsd:string"/>
    </message>
    <message name="setAttributeResponse">
    </message>
    <message name="removeAttributeRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="global_oid" type="xsd:string"/>
      <part name="attribute_name" type="xsd:string"/>
      <part name="attribute_value" type="xsd:string"/>
    </message>
    <message name="removeAttributeResponse">
    </message>
    <message name="createObjectRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="global_oid" type="xsd:string"/>
    </message>
    <message name="createObjectResponse">
     <part name="created_goid" type="xsd:string"/>
    </message>
    <message name="deleteObjectRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="global_oid" type="xsd:string"/>
    </message>
    <message name="deleteObjectResponse">
    </message>
    <message name="getAttributesRequest">
     <part name="namespaces" type="sb:StringSet"/>
      <part name="objects" type="sb:StringSet"/>
      <part name="attributes_names" type="sb:StringSet"/>
    </message>
    <message name="getAttributesResponse">
     <part name="result_set" type="sb:AttributeSet"/>
    </message>
    <message name="queryRequest">
     <part name="namespaces" type="sb:StringSet"/>
      <part name="query" type="xsd:string"/>
      <part name="attributes_names" type="sb:StringSet"/>
    </message>
    <message name="queryResponse">
     <part name="result_set" type="sb:AttributeSet"/>
    </message>
    <message name="createAttributeRequest">
     <part name="namespace_name" type="xsd:string"/>
      <part name="attribute_name" type="xsd:string"/>
      <part name="type_name" type="xsd:string"/>
      <part name="single_valued" type="xsd:boolean"/>
    </message>
    <message name="createAttributeResponse">
    </message>
    <message name="getSchemaRequest">
     <part name="namespace_name" type="xsd:string"/>
    </message>
    <message name="getSchemaResponse">
     <part name="database_schema" type="sb:DatabaseSchema"/>
    </message>

  
  
    <portType name="StorageBoxPortType">
      <operation name="addAttribute">
       <input message="tns:addAttributeRequest"/>
       <output message="tns:addAttributeResponse"/>
     </operation>
      <operation name="setAttribute">
       <input message="tns:setAttributeRequest"/>
       <output message="tns:setAttributeResponse"/>
     </operation>
      <operation name="removeAttribute">
       <input message="tns:removeAttributeRequest"/>
       <output message="tns:removeAttributeResponse"/>
     </operation>
      <operation name="createObject">
       <input message="tns:createObjectRequest"/>
       <output message="tns:createObjectResponse"/>
     </operation>
      <operation name="deleteObject">
       <input message="tns:deleteObjectRequest"/>
       <output message="tns:deleteObjectResponse"/>
     </operation>
      <operation name="getAttributes">
       <input message="tns:getAttributesRequest"/>
       <output message="tns:getAttributesResponse"/>
     </operation>
      <operation name="query">
       <input message="tns:queryRequest"/>
       <output message="tns:queryResponse"/>
     </operation>
      <operation name="createAttribute">
       <input message="tns:createAttributeRequest"/>
       <output message="tns:createAttributeResponse"/>
     </operation>
      <operation name="getSchema">
       <input message="tns:getSchemaRequest"/>
       <output message="tns:getSchemaResponse"/>
     </operation>
    </portType>
  
  
    <binding name="StorageBoxSOAPBinding" type="tns:StorageBoxPortType">
     <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
     <operation name="addAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="setAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="removeAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="createObject">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="deleteObject">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="getAttributes">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="query">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="createAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
     <operation name="getSchema">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>
   </binding>
  
  
    <service name="StorageBoxService">
     <documentation>Generated by the powers of evil (other than gSOAP)</documentation>
      <port name="StorageBoxPort" binding="tns:StorageBoxSOAPBinding">
       <SOAP:address location="http://localhost:80"/>
      </port>
    </service>
  
  </definitions>

