GlobusAdvertServiceAdaptor/schema/AdvertServiceEntry/MetaData.xsd

<xsd:schema targetNamespace="http://www.JavaGAT.org/namespaces/GAT"
    xmlns:tns="http://www.JavaGAT.org/namespaces/GAT"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <xsd:complexType name="MetaData">
          <xsd:sequence>
            <xsd:element name="Entry" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Key" type="xsd:string"/>
                  <xsd:element name="Value" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>

</xsd:schema>
