adaptors/src/GridLabFileBrowsing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DATA_browsing"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="urn:DATA_browsing_services"
 xmlns:tns="urn:DATA_browsing_services"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:DATA_browsing_services">

<types>
 <schema targetNamespace="urn:DATA_browsing_services"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:DATA_browsing_services"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="List-response">
   <sequence>
    <element name="retlist" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="Directory-entry">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="owner" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="group" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="links" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    <element name="permissions" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="datetime" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfDirectory-entry">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns:Directory-entry" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns:Directory-entry[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="List-structured-response">
   <sequence>
    <element name="entries" type="ns:ArrayOfDirectory-entry" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="Time-response">
   <sequence>
    <element name="seconds" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="Size-response">
   <sequence>
    <element name="size" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
    <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

 </schema>
</types>

<message name="DATAListRequest">
 <part name="in-URL" type="xsd:string"/>
 <part name="verbose" type="xsd:int"/>
</message>

<message name="List-response">
 <part name="retlist" type="xsd:string"/>
 <part name="response" type="xsd:string"/>
</message>

<message name="DATAConnectedListRequest">
 <part name="in-URL" type="xsd:string"/>
 <part name="verbose" type="xsd:int"/>
</message>

<message name="DATAConnectedListStructuredRequest">
 <part name="in-URL" type="xsd:string"/>
</message>

<message name="List-structured-response">
 <part name="entries" type="ns:ArrayOfDirectory-entry"/>
 <part name="response" type="xsd:string"/>
</message>

<message name="DATAStopCacheRequest">
</message>

<message name="DATAStopCacheResponse">
 <part name="response" type="xsd:string"/>
</message>

<message name="DATAConnectedModTimeRequest">
 <part name="in-URL" type="xsd:string"/>
</message>

<message name="Time-response">
 <part name="seconds" type="xsd:long"/>
 <part name="response" type="xsd:string"/>
</message>

<message name="DATAConnectedSizeRequest">
 <part name="in-URL" type="xsd:string"/>
</message>

<message name="Size-response">
 <part name="size" type="xsd:unsignedLong"/>
 <part name="response" type="xsd:string"/>
</message>

<message name="DATAConnectedMkdirRequest">
 <part name="in-URL" type="xsd:string"/>
</message>

<message name="DATAConnectedMkdirResponse">
 <part name="resp" type="xsd:string"/>
</message>

<message name="isAliveRequest">
 <part name="dump" type="xsd:int"/>
</message>

<message name="isAliveResponse">
 <part name="response" type="xsd:int"/>
</message>

<message name="getServiceDescriptionRequest">
</message>

<message name="getServiceDescriptionResponse">
 <part name="description" type="xsd:string"/>
</message>

<portType name="DATA_browsingPortType">
 <operation name="DATAList">
  <documentation>Service definition of function ns__DATAList</documentation>
  <input message="tns:DATAListRequest"/>
  <output message="tns:List-response"/>
 </operation>
 <operation name="DATAConnectedList">
  <documentation>Service definition of function ns__DATAConnectedList</documentation>
  <input message="tns:DATAConnectedListRequest"/>
  <output message="tns:List-response"/>
 </operation>
 <operation name="DATAConnectedListStructured">
  <documentation>Service definition of function ns__DATAConnectedListStructured</documentation>
  <input message="tns:DATAConnectedListStructuredRequest"/>
  <output message="tns:List-structured-response"/>
 </operation>
 <operation name="DATAStopCache">
  <documentation>Service definition of function ns__DATAStopCache</documentation>
  <input message="tns:DATAStopCacheRequest"/>
  <output message="tns:DATAStopCacheResponse"/>
 </operation>
 <operation name="DATAConnectedModTime">
  <documentation>Service definition of function ns__DATAConnectedModTime</documentation>
  <input message="tns:DATAConnectedModTimeRequest"/>
  <output message="tns:Time-response"/>
 </operation>
 <operation name="DATAConnectedSize">
  <documentation>Service definition of function ns__DATAConnectedSize</documentation>
  <input message="tns:DATAConnectedSizeRequest"/>
  <output message="tns:Size-response"/>
 </operation>
 <operation name="DATAConnectedMkdir">
  <documentation>Service definition of function ns__DATAConnectedMkdir</documentation>
  <input message="tns:DATAConnectedMkdirRequest"/>
  <output message="tns:DATAConnectedMkdirResponse"/>
 </operation>
 <operation name="isAlive">
  <documentation>Service definition of function ns__isAlive</documentation>
  <input message="tns:isAliveRequest"/>
  <output message="tns:isAliveResponse"/>
 </operation>
 <operation name="getServiceDescription">
  <documentation>Service definition of function ns__getServiceDescription</documentation>
  <input message="tns:getServiceDescriptionRequest"/>
  <output message="tns:getServiceDescriptionResponse"/>
 </operation>
</portType>

<binding name="DATA_browsingBinding" type="tns:DATA_browsingPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="DATAList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAConnectedList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAConnectedListStructured">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAStopCache">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAConnectedModTime">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAConnectedSize">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DATAConnectedMkdir">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="isAlive">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getServiceDescription">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:DATA_browsing_services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="DATA_browsing">
 <documentation>gSOAP 2.3.8 generated service definition</documentation>
 <port name="DATA_browsing" binding="tns:DATA_browsingBinding">
  <SOAP:address location="httpg://litchi.zib.de:18092"/>
 </port>
</service>

</definitions>
