adaptors/src/grms_schema_1.9.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 20 -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Juliusz Pukacki (Instytut Chemii Bioorganicznej PAN) -->
<!-- recznie dodana enumeracja do typu zadania -> poprawka z xmlspya-->
<!-- modyfikacja: usuniecie restriction na minLen-->
<!-- usuniecie command-->
<!-- zmiana w resources na integer-->
<!-- zmiana: localrmname jest enumeracja (fork, lsf..)-->
<!-- zmiana typu argumentu typu value - typ  zlozony  -->
<!-- wydziedziczenie fileType z baseFile -->
<!-- zmiana collection na collectionfile -->
<!-- dodanie parametrow siecowych-->
<!-- dodanie zaleznoscie czasowych-->
<!-- dodanie wymagan na aplikacje-->
<!-- dodanie dodatkowych parametrow w req-->
<!-- dodanie persistency dla Triany-->
<!-- dodanie w exec atrybutu checkpointable-->
<!-- dodanie queue do resource -->
<!-- dodanie nazwy aplikacji zamiast pliku z exec -->
<!-- rozszerzenie opisu executionTime -->
<!-- zmiana resource na unbounded -->
<!-- zmiana w execTime: execTime -->
<!-- zmiana w checpoint file-->
<!-- dowolna kolejnosc w arg -->
<!-- dodane instanceCount do AppType -->
<!-- dodane freecpus w resource -->
<!-- dodany atrybt project w grmsjob -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="grmsjob">
		<xs:annotation>
			<xs:documentation>Job Description for Gridlab Resource Management System</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="simplejob" type="simplejobType">
					<xs:annotation>
						<xs:documentation>Description of Simple Job</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="workflowjob" type="workflowType">
					<xs:annotation>
						<xs:documentation>Description of Workflow Job (not implemented yet)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="appid" type="xs:string" use="required"/>
			<xs:attribute name="persistent" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="extension" type="xs:string" use="optional"/>
			<xs:attribute name="project" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="simplejobType">
		<xs:annotation>
			<xs:documentation>Description of Simple Job</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Resource requirement section</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="osname" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operating sysem name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ostype" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operating system type</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="osversion" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operating system version</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="osrelease" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operating system release</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="hostname" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Host name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="localrmname" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Local resource management system name</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="fork"/>
									<xs:enumeration value="lsf"/>
									<xs:enumeration value="pbs"/>
									<xs:enumeration value="condor"/>
									<xs:enumeration value="sge"/>
									<xs:enumeration value="ccs"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="memory" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Amount of memory required</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cpucount" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of cpus required</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cpuspeed" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Required cpu performace</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxtime" type="xs:integer" minOccurs="0"/>
						<xs:element name="maxwalltime" type="xs:integer" minOccurs="0"/>
						<xs:element name="maxcputime" type="xs:integer" minOccurs="0"/>
						<xs:element name="bandwidth" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="hostname" type="xs:string" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="latency" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="hostname" type="xs:string" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="capacity" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="hostname" type="xs:string" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="applications" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="application" type="applicationType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="freememory" type="xs:integer" minOccurs="0"/>
						<xs:element name="diskspace" type="xs:integer" minOccurs="0"/>
						<xs:element name="freediskspace" type="xs:integer" minOccurs="0"/>
						<xs:element name="queue" type="xs:string" minOccurs="0"/>
						<xs:element name="freecpus" type="xs:integer" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="executable">
				<xs:annotation>
					<xs:documentation>Application description section</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="application" type="applicationType"/>
							<xs:element name="file" type="fileType">
								<xs:annotation>
									<xs:documentation>Location of executable of application</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="arguments" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arguments of execution</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice maxOccurs="unbounded">
									<xs:element name="value" type="valueType"/>
									<xs:element name="file" type="fileType"/>
									<xs:element name="directory" type="directoryType">
										<xs:annotation>
											<xs:documentation>Not implemented yet</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="stdin" type="baseFile" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Standard input stream location</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stdout" type="baseFile" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Standard output stream location</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stderr" type="baseFile" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Standard error stream location</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="environment" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Environment variables</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="variable" maxOccurs="unbounded">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="name" type="xs:string" use="required"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="checkpoint" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Checkpint files location</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice maxOccurs="unbounded">
									<xs:element name="directory" type="directoryType">
										<xs:annotation>
											<xs:documentation>Checkpoint directory (not implemented yet)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="file" type="fileType">
										<xs:annotation>
											<xs:documentation>Checkpoint files description</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="single"/>
								<xs:enumeration value="multiple"/>
								<xs:enumeration value="mpi"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="count" type="xs:int" use="optional" default="1"/>
					<xs:attribute name="checkpointable" type="xs:boolean" use="optional" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="executionTime" type="executionTimeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fileType">
		<xs:annotation>
			<xs:documentation>Element that describes a file</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="baseFile">
				<xs:attribute name="name" type="xs:string" use="required"/>
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="in"/>
							<xs:enumeration value="out"/>
							<xs:enumeration value="inout"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="directoryType">
		<xs:annotation>
			<xs:documentation>Element that describes a directory</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="url" type="xs:string">
				<xs:annotation>
					<xs:documentation>Url location of directory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collection">
				<xs:annotation>
					<xs:documentation>Collection from Replica Management System - not implemented yet</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="in"/>
					<xs:enumeration value="out"/>
					<xs:enumeration value="inout"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="valueType">
		<xs:annotation>
			<xs:documentation>Decribtion of value for arguments definition</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="baseFile">
		<xs:annotation>
			<xs:documentation>Base element for file describtion</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="collectionfile">
				<xs:annotation>
					<xs:documentation>File from Replica Management system</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="name" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="url" type="xs:string">
				<xs:annotation>
					<xs:documentation>Url location of file</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="workflowType">
		<xs:annotation>
			<xs:documentation>Description of Workflow Job</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="executionTimeType">
		<xs:sequence>
			<xs:element name="timeSlot" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information when to start application</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="slotStart">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:time"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="slotEnd" type="xs:time"/>
							<xs:element name="slotDuration" type="xs:duration"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="execDuration" type="xs:duration"/>
			<xs:element name="timePeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="periodStart" type="xs:dateTime" minOccurs="0"/>
						<xs:choice>
							<xs:element name="periodEnd" type="xs:dateTime"/>
							<xs:element name="periodDuration" type="xs:duration"/>
						</xs:choice>
						<xs:element name="excluding" minOccurs="0">
							<xs:complexType>
								<xs:choice maxOccurs="unbounded">
									<xs:element name="weekDay">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Monday"/>
												<xs:enumeration value="Tuesday"/>
												<xs:enumeration value="Wednesday"/>
												<xs:enumeration value="Thursday"/>
												<xs:enumeration value="Friday"/>
												<xs:enumeration value="Saturday"/>
												<xs:enumeration value="Sunday"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="dateDay" type="xs:date"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="including" minOccurs="0">
							<xs:complexType>
								<xs:choice maxOccurs="unbounded">
									<xs:element name="weekDay">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Monday"/>
												<xs:enumeration value="Tuesday"/>
												<xs:enumeration value="Wednesday"/>
												<xs:enumeration value="Thursday"/>
												<xs:enumeration value="Friday"/>
												<xs:enumeration value="Saturday"/>
												<xs:enumeration value="Sunday"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="dateDay" type="xs:date"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="applicationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="xs:string" use="optional"/>
				<xs:attribute name="instanceCount" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
