adaptors/src/StorageBox.wsdl

<?xml version="1.0" encoding="UTF-8"?>
 <definitions name="StorageBox"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://www.storagebox.org/sbns"
  xmlns:tns="http://www.storagebox.org/sbns"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:sb="http://www.storagebox.org/sbns"
 >	<types><schema targetNamespace="http://www.storagebox.org/sbns"
      xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:sb="http://www.storagebox.org/sbns"
      xmlns="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="unqualified"
      attributeFormDefault="unqualified">
  

	<complexType name="AttributeSchema">
		<all>
			<element name="attribute_name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="display_name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="value_type" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="single_valued" type="xsd:boolean"  minOccurs="1" maxOccurs="1"/>
		</all>
	</complexType>     


	<complexType name="ObjectAttribute">
		<all>
			<element name="attribute_name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="attribute_value" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="source_namespace" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
		</all>
	</complexType>     

 
	<complexType name="StringSet">
		<sequence>
			<element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />"
		</sequence>
	</complexType>            

 
	<complexType name="StorageBoxObject">
		<sequence>
			<element name="item" type="sb:ObjectAttribute" minOccurs="0" maxOccurs="unbounded" />"
		</sequence>
	</complexType>            

 
	<complexType name="ObjectSet">
		<sequence>
			<element name="item" type="sb:StorageBoxObject" minOccurs="0" maxOccurs="unbounded" />"
		</sequence>
	</complexType>            

 
	<complexType name="Schema">
		<sequence>
			<element name="item" type="sb:AttributeSchema" minOccurs="0" maxOccurs="unbounded" />"
		</sequence>
	</complexType>            


	<complexType name="WriteOperation">
		<all>
			<element name="operation" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="storagebox" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="object_id" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="attribute_name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<element name="attribute_value" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
		</all>
	</complexType>     

 
	<complexType name="WriteOperations">
		<sequence>
			<element name="item" type="sb:WriteOperation" minOccurs="0" maxOccurs="unbounded" />"
		</sequence>
	</complexType>            

  
	</schema></types>

    <message name="addAttributeRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="object_id" type="xsd:string" />
		<part name="attribute_name" type="xsd:string" />
		<part name="attribute_value" type="xsd:string" />
	</message>

    <message name="addAttributeResponse">
		
	</message>


    <message name="setAttributeRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="object_id" type="xsd:string" />
		<part name="attribute_name" type="xsd:string" />
		<part name="attribute_value" type="xsd:string" />
	</message>

    <message name="setAttributeResponse">
		
	</message>


    <message name="removeAttributeRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="object_id" type="xsd:string" />
		<part name="attribute_name" type="xsd:string" />
		<part name="attribute_value" type="xsd:string" />
	</message>

    <message name="removeAttributeResponse">
		
	</message>


    <message name="createObjectRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="object_id" type="xsd:string" />
	</message>

    <message name="createObjectResponse">
		<part name="object_id_created" type="xsd:string" />
	</message>


    <message name="deleteObjectRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="object_id" type="xsd:string" />
	</message>

    <message name="deleteObjectResponse">
		
	</message>


    <message name="executeWriteOperationsRequest">
		<part name="write_operations" type="sb:WriteOperations" />
	</message>

    <message name="executeWriteOperationsResponse">
		
	</message>


    <message name="getAttributesRequest">
		<part name="storageboxes" type="sb:StringSet" />
		<part name="object_ids" type="sb:StringSet" />
		<part name="attribute_names" type="sb:StringSet" />
	</message>

    <message name="getAttributesResponse">
		<part name="result_set" type="sb:ObjectSet" />
	</message>


    <message name="queryRequest">
		<part name="storageboxes" type="sb:StringSet" />
		<part name="query" type="xsd:string" />
		<part name="attribute_names" type="sb:StringSet" />
	</message>

    <message name="queryResponse">
		<part name="result_set" type="sb:ObjectSet" />
	</message>


    <message name="createAttributeRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="attribute_name" type="xsd:string" />
		<part name="type_name" type="xsd:string" />
		<part name="single_valued" type="xsd:boolean" />
	</message>

    <message name="createAttributeResponse">
		
	</message>


    <message name="deleteAttributeRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="attibute_name" type="xsd:string" />
	</message>

    <message name="deleteAttributeResponse">
		
	</message>


    <message name="getSchemaRequest">
		<part name="storagebox" type="xsd:string" />
	</message>

    <message name="getSchemaResponse">
		<part name="storagebox_schema" type="sb:Schema" />
	</message>


    <message name="setAttributePropertyRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="attribute_name" type="xsd:string" />
		<part name="property" type="xsd:string" />
		<part name="value" type="xsd:string" />
	</message>

    <message name="setAttributePropertyResponse">
		
	</message>


    <message name="findReplaceRequest">
		<part name="storagebox" type="xsd:string" />
		<part name="query" type="xsd:string" />
		<part name="find" type="sb:StorageBoxObject" />
		<part name="replace_object" type="sb:StorageBoxObject" />
	</message>

    <message name="findReplaceResponse">
		<part name="replacements" type="xsd:int" />
	</message>
   
    <portType name="StorageBoxPortType">

      <operation name="addAttribute">
       <input message="tns:addAttributeRequest"/>
       <output message="tns:addAttributeResponse"/>
     </operation>


      <operation name="setAttribute">
       <input message="tns:setAttributeRequest"/>
       <output message="tns:setAttributeResponse"/>
     </operation>


      <operation name="removeAttribute">
       <input message="tns:removeAttributeRequest"/>
       <output message="tns:removeAttributeResponse"/>
     </operation>


      <operation name="createObject">
       <input message="tns:createObjectRequest"/>
       <output message="tns:createObjectResponse"/>
     </operation>


      <operation name="deleteObject">
       <input message="tns:deleteObjectRequest"/>
       <output message="tns:deleteObjectResponse"/>
     </operation>


      <operation name="executeWriteOperations">
       <input message="tns:executeWriteOperationsRequest"/>
       <output message="tns:executeWriteOperationsResponse"/>
     </operation>


      <operation name="getAttributes">
       <input message="tns:getAttributesRequest"/>
       <output message="tns:getAttributesResponse"/>
     </operation>


      <operation name="query">
       <input message="tns:queryRequest"/>
       <output message="tns:queryResponse"/>
     </operation>


      <operation name="createAttribute">
       <input message="tns:createAttributeRequest"/>
       <output message="tns:createAttributeResponse"/>
     </operation>


      <operation name="deleteAttribute">
       <input message="tns:deleteAttributeRequest"/>
       <output message="tns:deleteAttributeResponse"/>
     </operation>


      <operation name="getSchema">
       <input message="tns:getSchemaRequest"/>
       <output message="tns:getSchemaResponse"/>
     </operation>


      <operation name="setAttributeProperty">
       <input message="tns:setAttributePropertyRequest"/>
       <output message="tns:setAttributePropertyResponse"/>
     </operation>


      <operation name="findReplace">
       <input message="tns:findReplaceRequest"/>
       <output message="tns:findReplaceResponse"/>
     </operation>

    </portType>
  
    <binding name="StorageBoxSOAPTransportBinding" type="tns:StorageBoxPortType">
	<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

     <operation name="addAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="setAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="removeAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="createObject">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="deleteObject">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="executeWriteOperations">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="getAttributes">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="query">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="createAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="deleteAttribute">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="getSchema">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="setAttributeProperty">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>


     <operation name="findReplace">
      <SOAP:operation soapAction=""/>
      <input><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
      <output><SOAP:body use="encoded" namespace="http://www.storagebox.org/sbns" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
     </operation>

    </binding>


    <service name="StorageBoxService">
		<documentation>Generated by the new powers of evil (other than gSOAP)</documentation>
		<port name="StorageBoxPort" binding="tns:StorageBoxSOAPTransportBinding">
			<SOAP:address location="httpg://cluster3.zib.de:27086"/>
		</port>
    </service>  
  </definitions>
