adaptors/src/zibdms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="zibdms"
 targetNamespace="urn:zibdms"
 xmlns:tns="urn:zibdms"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:GridLabLogicalfileNS1="urn:zibdms"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:zibdms"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:GridLabLogicalfileNS1="urn:zibdms"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="pair-of-string">
   <sequence>
    <element name="key" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="pair-of-string-bool">
   <sequence>
    <element name="pathname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="file" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="pair-of-string-array">
   <sequence>
    <element name="item" type="GridLabLogicalfileNS1:pair-of-string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="pair-of-string-bool-array">
   <sequence>
    <element name="item" type="GridLabLogicalfileNS1:pair-of-string-bool" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="getObjectsResponse">
   <sequence>
    <element name="paths" type="GridLabLogicalfileNS1:string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="getAttributesResponse">
   <sequence>
    <element name="attributes" type="GridLabLogicalfileNS1:pair-of-string-array" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="getOwnerResponse">
   <sequence>
    <element name="owner" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="ret" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="getHomeDirectoryRequest">
 <part name="usersubject" type="xsd:string"/>
</message>

<message name="getHomeDirectoryResponse">
 <part name="pathname" type="xsd:string"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="createRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="filetype" type="xsd:string"/>
</message>

<message name="createResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="rmRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="rmResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="existsEntityRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="existsEntityResponse">
 <part name="result" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="isFileRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="isFileResponse">
 <part name="file" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="isDirectoryRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="isDirectoryResponse">
 <part name="directory" type="xsd:boolean"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="mkdirRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="mkdirResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="mkdirhierRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="mkdirhierResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="rmdirRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="rmdirResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="lsRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="lsResponse">
 <part name="directory-content" type="GridLabLogicalfileNS1:string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="lsXRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="lsXResponse">
 <part name="directory-content" type="GridLabLogicalfileNS1:pair-of-string-bool-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="addLocationRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="uri" type="xsd:string"/>
</message>

<message name="addLocationResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="removeLocationRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="uri" type="xsd:string"/>
</message>

<message name="removeLocationResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="getLocationsRequest">
 <part name="pathname" type="xsd:string"/>
</message>

<message name="getLocationsResponse">
 <part name="locations" type="GridLabLogicalfileNS1:string-array"/>
 <part name="retcode" type="xsd:string"/>
</message>

<message name="getServiceDescriptionRequest">
 <part name="in" type="xsd:string"/>
</message>

<message name="getServiceDescriptionResponse">
 <part name="description" type="xsd:string"/>
 <part name="ret" type="xsd:string"/>
</message>

<message name="replicateFileToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="replicateFileToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="fetchFileToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="fetchFileToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="replicateDirectoryToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="replicateDirectoryToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<message name="fetchDirectoryToRequest">
 <part name="pathname" type="xsd:string"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="fetchDirectoryToResponse">
 <part name="ret" type="xsd:string"/>
</message>

<portType name="zibdmsPortType">
 <operation name="getHomeDirectory">
  <documentation>Service definition of function GridLabLogicalfileNS1__getHomeDirectory</documentation>
  <input message="tns:getHomeDirectoryRequest"/>
  <output message="tns:getHomeDirectoryResponse"/>
 </operation>
 <operation name="create">
  <documentation>Service definition of function GridLabLogicalfileNS1__create</documentation>
  <input message="tns:createRequest"/>
  <output message="tns:createResponse"/>
 </operation>
 <operation name="rm">
  <documentation>Service definition of function GridLabLogicalfileNS1__rm</documentation>
  <input message="tns:rmRequest"/>
  <output message="tns:rmResponse"/>
 </operation>
 <operation name="existsEntity">
  <documentation>Service definition of function GridLabLogicalfileNS1__existsEntity</documentation>
  <input message="tns:existsEntityRequest"/>
  <output message="tns:existsEntityResponse"/>
 </operation>
 <operation name="isFile">
  <documentation>Service definition of function GridLabLogicalfileNS1__isFile</documentation>
  <input message="tns:isFileRequest"/>
  <output message="tns:isFileResponse"/>
 </operation>
 <operation name="isDirectory">
  <documentation>Service definition of function GridLabLogicalfileNS1__isDirectory</documentation>
  <input message="tns:isDirectoryRequest"/>
  <output message="tns:isDirectoryResponse"/>
 </operation>
 <operation name="mkdir">
  <documentation>Service definition of function GridLabLogicalfileNS1__mkdir</documentation>
  <input message="tns:mkdirRequest"/>
  <output message="tns:mkdirResponse"/>
 </operation>
 <operation name="mkdirhier">
  <documentation>Service definition of function GridLabLogicalfileNS1__mkdirhier</documentation>
  <input message="tns:mkdirhierRequest"/>
  <output message="tns:mkdirhierResponse"/>
 </operation>
 <operation name="rmdir">
  <documentation>Service definition of function GridLabLogicalfileNS1__rmdir</documentation>
  <input message="tns:rmdirRequest"/>
  <output message="tns:rmdirResponse"/>
 </operation>
 <operation name="ls">
  <documentation>Service definition of function GridLabLogicalfileNS1__ls</documentation>
  <input message="tns:lsRequest"/>
  <output message="tns:lsResponse"/>
 </operation>
 <operation name="lsX">
  <documentation>Service definition of function GridLabLogicalfileNS1__lsX</documentation>
  <input message="tns:lsXRequest"/>
  <output message="tns:lsXResponse"/>
 </operation>
 <operation name="addLocation">
  <documentation>Service definition of function GridLabLogicalfileNS1__addLocation</documentation>
  <input message="tns:addLocationRequest"/>
  <output message="tns:addLocationResponse"/>
 </operation>
 <operation name="removeLocation">
  <documentation>Service definition of function GridLabLogicalfileNS1__removeLocation</documentation>
  <input message="tns:removeLocationRequest"/>
  <output message="tns:removeLocationResponse"/>
 </operation>
 <operation name="getLocations">
  <documentation>Service definition of function GridLabLogicalfileNS1__getLocations</documentation>
  <input message="tns:getLocationsRequest"/>
  <output message="tns:getLocationsResponse"/>
 </operation>
 <operation name="getServiceDescription">
  <documentation>Service definition of function GridLabLogicalfileNS1__getServiceDescription</documentation>
  <input message="tns:getServiceDescriptionRequest"/>
  <output message="tns:getServiceDescriptionResponse"/>
 </operation>
 <operation name="replicateFileTo">
  <documentation>Service definition of function GridLabLogicalfileNS1__replicateFileTo</documentation>
  <input message="tns:replicateFileToRequest"/>
  <output message="tns:replicateFileToResponse"/>
 </operation>
 <operation name="fetchFileTo">
  <documentation>Service definition of function GridLabLogicalfileNS1__fetchFileTo</documentation>
  <input message="tns:fetchFileToRequest"/>
  <output message="tns:fetchFileToResponse"/>
 </operation>
 <operation name="replicateDirectoryTo">
  <documentation>Service definition of function GridLabLogicalfileNS1__replicateDirectoryTo</documentation>
  <input message="tns:replicateDirectoryToRequest"/>
  <output message="tns:replicateDirectoryToResponse"/>
 </operation>
 <operation name="fetchDirectoryTo">
  <documentation>Service definition of function GridLabLogicalfileNS1__fetchDirectoryTo</documentation>
  <input message="tns:fetchDirectoryToRequest"/>
  <output message="tns:fetchDirectoryToResponse"/>
 </operation>
</portType>

<binding name="zibdms" type="tns:zibdmsPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getHomeDirectory">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="create">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="rm">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="existsEntity">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="isFile">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="isDirectory">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="mkdir">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="mkdirhier">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="rmdir">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="ls">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="lsX">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="addLocation">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeLocation">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getLocations">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getServiceDescription">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="replicateFileTo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="fetchFileTo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="replicateDirectoryTo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="fetchDirectoryTo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:zibdms" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="zibdms">
 <documentation>gSOAP 2.6.2 generated service definition</documentation>
 <port name="zibdms" binding="tns:zibdms">
  <SOAP:address location="httpg://cluster3.zib.de:4711/zibdms-service"/>
 </port>
</service>

</definitions>
